@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #2b2828;
    /*background: linear-gradient(to top, rgb(152, 185, 152), rgb(15, 83, 94));*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding: 40px 0px 40px 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

header > h1 {
    text-align: center;
    color: white;
    line-height: 1.6em;
    z-index: 1;
    padding: 10px;
}

header > a {
    margin-top: 25px;
    color: white;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    background-color: #bd9a29;
    border-radius: 10px;
    padding: 0px 20px 0px 0px;
    font-weight: bold;
}

header > a:hover {
    transform: translate(-3px, -3px);
    background-color: rgb(58, 139, 112);
    color: black;
}

header > a > span.material-symbols-outlined {
    color: white;
    padding: 10px;
}

header > a > span.material-symbols-outlined:hover {
    color: black;
}

span.ofertas {
    background-color: #ff5722;
    padding: 5px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    color: rgb(239, 206, 18);
}

div.flex-content {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
}

div.produtos {
    text-align: center; 
    background-color: #ffff;
    border-radius: 15px;
    flex: 0 1 260px;
    height: 400px;
    margin: 10px 20px 20px 20px;
    padding: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.226),
                0 3px 6px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 2;
}

div.produtos:hover {
    box-shadow: 5px 5px 10px rgba(202, 104, 120, 0.623);
}

div.produtos > div.img {
    margin: 5px 5px 10px 5px;
    height: 200px;
}

div.produtos > div.img > img {
    width: 100%;
    height: 100%;
}

div.produtos > p {
    padding: 5px;
    font-size: 1.2em;
    text-align: center;
    font-weight: 500;
    margin-bottom: 15px;
}

div.preco {
    font-weight: 800;
    text-align: left;
    font-size: 1.5em;
    padding-left: 10px;
    position: absolute;
    color: rgb(207, 138, 8);
}

button {
    margin: 52px 0px 10px 0px;
    padding: 15px 24px 15px 24px;
    border-radius: 10px;
    border: 0;
    background-color: #27ae60;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
}

button:hover {
    transform: translate(-2px, -3px);
    color: gold;
    background-color: black;
}

@media screen and (max-width: 600px) { /* Mobile e Tablet */
    div.produtos {
        margin: 20px 20px 15px 20px;
    }
}